fastapi
uvicorn[standard]
google-cloud-aiplatform
pdf2image
redis
celery
dramatiq
dramatiq_dashboard
watchdog
python-dotenv
pandas
openpyxl
pynsq
tqdm
pydantic-settings
PyMuPDF
pymupdf4llm
python-multipart
langchain
langchain-community
langchain-google-vertexai
langchain-openai
neo4j
python-json-logger
langfuse
dashscope
psycopg2-binary
SQLAlchemy
alembic
pymongo
mongoengine
weaviate-client
APScheduler~=3.10.1
jose~=1.0.0
loguru~=0.6.0
peewee~=3.16.0
starlette
pymysql
passlib[bcrypt]
pydantic[dotenv]
python-jose[cryptography]
sse-starlette
peewee-jsonfield
weasyprint
tabulate
gevent
flower
langgraph
jupyterlab
pygraphviz
